@use '../../scss/' as *;

.app__social {
    @include flex(flex-end, center);
    flex-direction: column;
    padding: 1rem;

    div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        margin: 0.25rem 0;
        border: 1px solid $lightGray;

        @include flex(center,center);

        transition: all 0.3s ease-in-out;

        svg {
            width: 30px;
            height: 30px;
            color: rgb(103, 103, 219);
            @include flex(center, center);
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            border-color: $secondary-color;
            transform: scale(1.2);
            cursor: pointer;
        }

    }
    
    @include mobile {
        display: none;
    }
}

