@use "../../scss/" as *;

#Home {
    position: relative;
    background: url("../../assets/bgIMG.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    .app__wrapper {
        padding: 0;
    }
}

.app__header {
    @include flex(center,center);
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 0rem;

    @include tablet{
        flex-direction: column;
    }

    @include mobile {
        padding: 6rem 1rem 2rem;
    }
}

.app__header-info {
    @include flex(flex-start,flex-start);
    flex: 0.65;
    flex-direction: column;
    height: 100%;
    margin: 0 2rem;

    @include tablet {
        width: 100%;
        margin-right: 0rem;
    }
}

.app__header-badge {
    width: 100%;
    @include flex(flex-start, flex-start);
    flex-direction: column;

    .badge__top,
    .badge__bottom{

        @include flex(center, center);
        padding: 1rem 2rem;
        background: $white;
        border-radius: 15px;
        flex-direction: row;
        width: auto;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .badge__top {
        div {
            margin-left: 20px;
        }
        p {
            font-size:1.2rem;
        }
    }
    .badge__bottom {
        flex-direction: column;
        margin-top: 2rem;

        p {
            width: 100%;
            text-transform: uppercase;
            text-align: right;
            font-size: 1.3rem;
        }
    }

    span {
        font-size: 2.5rem;
    }

}

.app__header-circles {
    @include flex(space-evenly, flex-start);
    flex: 0.75;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 2rem;

    div {
        @include flex(center, center);
        width: 90px;
        height: 90px;
        margin: 1rem;
        border-radius: 50%;
        background: $white;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    // круги с разной высотой, шириной

    div:nth-child(1) {
        width: 100px;
        height: 100px;

            img {
                width: 70%;
                height: 70%;
              
        }
    }

    div:nth-child(2) {
        margin: 1.75rem;
        width: 120px;
        height: 120px;

        img {
            width: 80%;
                height: 80%;
                background: yellow;
                border-radius: 50%;
            }
    }

    div:nth-child(3) {
        width: 70px;
        height: 70px;

        img {
                width: 80%;
                    height: 80%;
            }
    }
}

.app__header-img {
    @include flex(center, center);
    flex: 1;
    height: 100%;
    position: relative;
    margin: 4rem 0 3rem;

    img {
        width: 60%;
        object-fit: contain;
        z-index: 1;
        border-radius:20%;
    }
}