  $font-family: "DM Sans", sans-serif;

  $main-color: #edf2f8;
  $secondary-color: #313bac;
  
  $black: #030303;
  $lightGray: #e4e4e4;
  $gray: #6b7688;
  $brown: #46364a;
  $white: #ffffff;

  $mobile-width: 600px;
  $tablet-width: 900px;